.card-body {
    background-color: black;
    color: #CBD0B9;
}

.card-title {
    background-color: black;
    color: #CBD0B9;
}

.card-text {
    background-color: black;
    color: #CBD0B9;
}

.uicIMG {
    width: 25%;
    height: auto;
    background-color: black;
    color: #CBD0B9;
}

.meIMG {
    width: 50%;
}

.imgCard {
    background-color: black;
}

.meImgContainer {
    display: flex;
    justify-content: center;
    background-color: black;
}

.imgContainer {
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-bottom: 25;
}