.headerNav-container {
    background-color: black;
}

.headerName {
    background-color: black;
    color: #cbd0b9;
}

.nav-tabs {
    justify-content: space-between;
    margin-left: auto;
    background-color: black;
}

.nav-item {
    background-color: black;
}

a {
    color: greenyellow
}